
/******************
Top Section
******************/



#top{
  background: #222930;

  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  border-bottom: solid 5px #4eb1ba;

}
#logo{
  text-align: left;
  margin: 0;
  color: white;

}


h1{

  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  margin:15px 0;
  font-weight: normal;
  line-height: 0.8em;
  color:white;
}

h2{
  font-size: 0.75em;
  margin: -5px 0 0 ;
  font-weight: normal;
  color:white;

}
h3 {
  margin: 0 0 1em 0;
  color:#4eb1ba;
  text-align: left;
}


/* alignment of the navigation */
#navigation{

  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0 ;
  background: #222930;

}

#navigation li{
  display: inline-block;

}

#navigation a{
font-weight: 800;
padding: 15px 10px;


}
/* Changes the state of the navigation links */
nav a.selected,nav a:hover{
  color:#4eb1ba;
}

p{

  color:black;
}




a{
  text-decoration: none;
  color:white;

}


/******** BODY *********
 ************************/


#section_tag{
  max-width:940px;
  margin:  0 auto;
  padding: 0 5%;

}

body{
  font-family: 'Open Sans', sans-serif;
  background: white;
}

/****
Paragraph for the about page
*****/
#section_tag p{
  color: black;
}

/**************
ABOUT ME PAGE
**************/

.aboutme img{
  align:right;
}
.aboutme h3{
  text-align: center;
}

/********
Contact Page

********/
.contact{
  float: left;
  list-style: none;
  margin: 0 50px 0 50px;
  padding: 0;
  font-size: 0.9em;


}

.primary{
  float: left;
  width: 45%;
}



.contact a{
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;

}

.contact h3{
  text-align: center;
}
.contact li.mob a{
  background-image: url('../img/phone.png');
  color: black;

}
.contact li.twitter a{
  background-image: url('../img/twitter.png');
  color: black;
}

/******
Form Styling
******/

.emailform{

  color:#4eb1ba;
}

form{
  width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

form h3{
  text-align: center;
}

label{
  display:block;
  margin-bottom: 8px;
  margin-top: 8px;
}

button{
  background-color: #4eb1ba;

  font-style: normal;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  border-radius: 5px;
  border-width: 1px 1px 3px;
  width: 300px;

}


  /* Site body   */

/***
PAGE PORTFOLIO
****/

img{
  max-width: 100%;
  height: auto;

}

/*******GALLERY***********
**************************/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li{
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  text-align: #bdc3c7;
  opacity: 0.4;


}

#gallery li a p{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color:#888888;


}

/**
Profile Photo
****/

.profile-photo{
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  float: left;
  border-radius: 100%;
  opacity: 0.4;

}


/******** FOOTER *********
 ************************/

footer img {
background-color: white;
opacity: 0.4;

}
footer img:hover{
 opacity:1.0;
}
footer{
  text-align: center;
  clear: both;


}
.icons{
  width: 30px;
  height: 30px;
  margin; 0 5px;
}


